<tr>
    <th scope="row">{{ item.id }}</th>
    <th>{{ item.name }}</th>
    <th>
        <div class="img" style="width: 150px">
            <img src="/assets/reference-car/image/Model/{{ item.id }}.jpg" alt=""
                 style="width: 100%; height: 100%; object-fit: contain">
        </div>
    </th>
    <th>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path('reference-car:car-models.admin.show', {'id': item.id}) }}">Просмотр</a>
                </li>
            </ul>
        </div>
    </th>
</tr>