<a
    href="{{ path('reference-car:public.car-models-petrols.show', {
        'brand': item.brandUrl,
        'model': item.modelUrl,
        'generation': item.generationUrl,
        'petrol': item.url
    }) }}"
   class="card rounded-4 border-0 mb-3"
   role="tooltip" data-bs-toggle="tooltip"
   data-bs-html="true" data-bs-placement="left"
   data-bs-delay="{&quot;show&quot;:600,&quot;hide&quot;:100}"
   data-bs-original-title=""
>
    <div
            class="overflow-hidden rounded-4 border border-primary border p-2 d-flex justify-content-center align-items-center text-center"
            style="height: 100px;"
    >
        <div title="{{ item.name }}">
            <div class="card-body px-3 py-2">
                <h2 class="card-title mb-2 h5 w-100 ">
                    <div class="d-inline-block text-decoration-none text-dark" style="max-width: 180px;">
                        {{ item.name }}
                    </div>
                </h2>
            </div>
        </div>
    </div>
</a>