<tr>
    <th scope="row">{{ item.id }}</th>
    <th>{{ item.petrol_name }}</th>
    <th>{{ item.model_name }}</th>
    <th>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="">Просмотр</a>
                </li>
                {#                <li> #}
                {#                    <a class="dropdown-item" href="#">Редактировать</a> #}
                {#                </li> #}
                {#                <li> #}
                {#                    <a class="dropdown-item" href="#">Удалить</a> #}
                {#                </li> #}
            </ul>
        </div>
    </th>
</tr>