{# Обложка  #}
{% set image_path = '/assets/img/blank.svg' %}
{% if item.imageExt is defined and item.imageExt is not null %}
    {% set img_host =  item.imageCdn == true  ? CDN_HOST : '' %}
    {% set img_dir = item.imageName %}
    {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.imageExt %}
    {% set image_path = img_host ~ img_dir ~ img_file %}
{% endif %}


<a
    href="{{
        path('reference-car:public.car-generation.show',
        {'brandName': item.brandUrl, 'modelName': item.modelUrl, 'generationName': item.url})
    }}"
    class="card rounded-4 border-0 mb-3 p-2"
>

    <div class="card-image-wrap overflow-hidden rounded-4 border border-light" style="height: 100px;">
        <div class="card-brand-logo" title="{{ item.name }}" style='height: 100px; background-image: url({{ image_path }}); background-size: contain; background-repeat: no-repeat; background-position: center;'>
        </div>
    </div>

    <div class="card-body px-3 py-3">
        <h2 class="card-title mb-2 h6 w-100 text-center">
            <div class="d-inline-block text-decoration-none text-dark" style="max-width: 180px;">
                {{ item.name }}
            </div>
        </h2>
    </div>

</a>


